section.fn-btn-section {
    background-color: #e3e3e3;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*div.fn-btn {*/
/*    height: 4px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

button.fn-nav-btn {
    height: 35px;
    border: none;
    border-radius: 25px;
    color: #666;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
    padding: 10px 20px 32px 20px;
    margin: 3px;
    background-color: #fff;
}

button.active {
    color: #fff;
    background-color: dodgerblue;
}

button:hover {
    color: #fff;
    background-color: dodgerblue;
}

div.fn-sub-home {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    letter-spacing: -0.5px;
}